html {
  scroll-padding-top: 90px;
}

body {
    top: 70px;
    left: 15%;
    background-color: lightblue;
    z-index: 0;
  }


#menu {
    position: fixed;
    display: grid;
    grid-template-columns:1fr 1fr 2fr 1fr 1fr;
    overflow-y: auto;
    top: 0;
    right: 0;
    width: 80%;
    height: 50px;
    background-color: lightblue;
    padding: 10px;
    z-index: 10000; /* Ensure the menu is above other content */
}

#menu button {
    background-color: #ffffff;
    color: black;
    border: none;
    padding: 12px 24px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: transform 0.2s;
}


.Jumping_banner {
  position: fixed;
  top: 100px;
  left: 10px;
  height: 20vh;
  width: 13%;
  background: #f5f5f5;
  display: grid;
  grid-template-rows: 3fr 1fr 1fr 1fr;
  justify-content: top;
  align-items: left;
  gap: 10px;
  padding: 100px 0;
  z-index: 0;
  background-color: transparent;
}

.Jumping_banner button {
  background-color: #ffffff;
  color: black;
  border: none;
  padding: 12px 24px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  transition: transform 0.2s;
}

.Jumping_banner button:hover {
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0 4px 12px rgba(0,0,0,0.12);
}
