body{
    top: 70px;
    background-color: lightblue; /* fills sides if image isn't full width */
}

#menu {
    position: fixed;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
    overflow-y: auto;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: lightblue;
    padding: 10px;
    z-index: 10000; /* Ensure the menu is above other content */
}

#menu button {
    background-color: #ffffff;
    color: black;
    border: none;
    padding: 12px 24px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: transform 0.2s;
}

#page{
    margin-top: 70px; /* Adjust based on menu height */

}